@import '../../styles/breakpoints';

.About {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .about-content {
    font-size: 0.875rem;
    line-height: 1.5rem;

    @include breakpoint-small-down {
      font-size: 1rem;
    }

    p {
      color: black;
      font-weight: 300;
      padding: 0.5rem 0;
    }
  }
}
